[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/brockelmore/forge-std
[submodule "lib/juice-contracts-v3"]
	path = lib/juice-contracts-v3
	url = https://github.com/jbx-protocol/juice-contracts-v3
