[submodule "lib/juice-contracts-v2"]
	path = lib/juice-contracts-v2
	url = https://github.com/jbx-protocol/juice-contracts-v2
[submodule "lib/openzeppelin-contracts"]
	path = lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/brockelmore/forge-std
[submodule "lib/juice-contracts-v1"]
	path = lib/juice-contracts-v1
	url = https://github.com/jbx-protocol/juice-contracts-v1
