[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/brockelmore/forge-std
[submodule "lib/juice-delegates-registry"]
	path = lib/juice-delegates-registry
	url = https://github.com/jbx-protocol/juice-delegates-registry
